importlib-metadata # required for python_version<"3.8"
jsonschema
dask[distributed,diagnostics]
optuna>=3.0.0
optuna-dashboard
pandas
pyyaml
redis # Optuna Redis
pymysql # Optuna MySQL
mysqlclient # MySQL Connection
kiwisolver==1.3.2 # Fixes observed issue with installing kiwisolver 1.4.0 and 1.4.1
parallel-ssh # For remote cluster setup
portalocker
pgmpy
requests

# Dask Dashboard
bokeh
jupyter-server-proxy
