importlib-metadata # required for python_version<"3.8"
jsonschema
dask
distributed
optuna
optuna-dashboard
pandas
pyyaml
redis
kiwisolver==1.3.2 # Fixes observed issue with installing kiwisolver 1.4.0 and 1.4.1

# Fixed dependencies due tue Alpine Linux
psutil==5.8.0

# Dask Dashboard
bokeh
jupyter-server-proxy
